* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    max-width: 900px;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.left-column {
    background-color: #273447;
    color: #fff;
    padding: 20px;
    width: 38%;
    text-align: center;
}

.right-column {
    padding: 20px;
    width: 55%;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    font-size: 24px;
    margin-top: 15px;
}

.about-me {
    font-size: 14px;
    margin-top: 10px;
    color: #ddd;
}

.contact-info {
    margin-top: 20px;
}

.contact-info p {
    font-size: 14px;
    margin-bottom: 10px;
}

.contact-info i {
    margin-right: 10px;
}

.language-section, .expertise-section {
    margin-top: 20px;
    text-align: left;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

ul {
    /* list-style: none; */
    margin-left: 10px;
}
.main_heading {
    text-align: center;
    font-family: 'Lobster', cursive; /* Replace 'Lobster' with your desired font */
    font-size: 36px;
    color: #273447; /* Replace with your preferred color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
    animation: bounce 1s infinite;
  }

ul li {
    font-size: 14px;
    margin-bottom: 5px;
}

.right-column .section {
    margin-bottom: 30px;
}

h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.skills-summary {
    margin-top: 30px;
}

.skill-bar {
    margin-bottom: 15px;
}

.progress-bar {
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    height: 10px;
    width: 100%;
    margin-top: 5px;
}

.progress {
    background-color: #273447;
    height: 100%;
    border-radius: 10px;
}






/* .aboutMe_div{
    width: 150px;
    height: 150px;
    border: 2px, solid,#333;
}
.call_Icon{
    display: flex;
} */